# my_crate_macros/Cargo.toml
[package]
name = "gpu"
version = "0.1.1"
edition = "2021"
license = "MPL-2.0"

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
shared = { path = "../shared" }